h1
{
    border-width: 1;
    border: solid;
    text-align: center;
    color: white;
    background-color: darkmagenta;
}
div.text
{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.code
{
    font-family: monospace;
    color: midnightblue;
    background-color: skyblue;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
}
span.file
{
    font-family: monospace;
    color: purple;
    background-color: pink;
}
